<% if flash.any? %>
  <div class="fixed top-4 right-4 z-50 space-y-2">
    <% flash.each do |type, message| %>
      <%
        css_class = case type.to_sym
        when :notice
          "bg-green-50 border-green-400 text-green-800"
        when :alert
          "bg-red-50 border-red-400 text-red-800"
        when :error
          "bg-red-50 border-red-400 text-red-800"
        else
          "bg-blue-50 border-blue-400 text-blue-800"
        end
      %>
      <div class="<%= css_class %> border-l-4 p-4 rounded shadow-lg max-w-md" data-controller="flash" data-flash-delay-value="5000">
        <div class="flex">
          <div class="flex-shrink-0">
            <% if type.to_sym == :notice %>
              <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            <% else %>
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            <% end %>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium">
              <%= message %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
